{% extends 'base.html' %} 

{% load static %} 
{% load humanize %} 

{% block content%}

<div class="album pt-4">
  <div class="container">
    <div class="col-md-9 mx-auto p-0">
      {% include 'partials/_alert.html' %}
    </div>
    <div class="col-md-9 mx-auto rounded border px-5 py-3">
      <div class="row align-items-center">
        <img
          class="profi profi-pic-detail mr-3"
          src="{{ post.user.profile.image.url }}"
        />
        <div class="">
          <h6 class="border-bottom py-2">
            This post was created by:
            <strong
              ><a class="text-dark" href="{% url 'user-posts' post.user %}"
                >{{ post.user }}</a
              ></strong
            >
          </h6>
        </div>
        <div class="ml-auto">
          {% if post.user == request.user %}
          <a
            class="btn btn-info py-0 px-3 mr-2 my-2"
            href="{% url 'post_update' post.pk %}"
            >Edit Post</a
          >
          <a
            class="btn btn-danger py-0 px-3 my-2"
            href="{% url 'post_delete' post.pk %}"
            >Delete Post</a
          >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<section class="container">
  <div class="col-md-9 mx-auto detail-config my-4 p-5 rounded">
    <div class="row align-items-center mx-auto detail-heading">
      <img class="col-md-5 detail-img mr-2 mb-4" src="{{ post.image.url }}" />
      <div class="col-md-6 detail-title-box" id="postlike">
        <h3 class="detail-title">{{ post }}</h3>
        <h6 class="detail-sub pt-3">{{ post.sub_title }}</h6>
        <div
          id="postlike-{{post.id}}"
          class="d-flex mt-3 justify-content-between detail-sub"
        >
          <div class="d-flex py-1">
            {% if user.is_authenticated %}

            <button class="btn-style" data-post-id="{{post.id}}">
              <img
                src="{% static 'img/heart.png' %}"
                class="logo p-1 {% if has_liked_post %} bg-likes-after-post {% else %} {% endif %}"
                alt="like"
              />
            </button>

            <p class="ml-2 mb-0 like-post-count">
              {{ post.postlikes.count | intcomma }}
            </p>
            <p class="ml-2 mb-0">
              like{% if comment.commentlikes.count == 1 %}{% else %}s{% endif %}
            </p>

            {% else %}

            <a href="{% url 'login' %}?next=/post/{{ post.id }}">
              <img src="{% static 'img/heart.png' %}" class="logo" alt="like" />
            </a>

            <p class="ml-2 mb-0">{{ post.postlikes.count | intcomma }}</p>
            <p class="ml-2 mb-0">
              like{% if comment.commentlikes.count == 1 %}{% else %}s{% endif %}
            </p>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <p class="detail-body">{{ post.body | linebreaksbr }}</p>
  </div>

  {% comment %} Comment section {% endcomment %} 
  {% include 'partials/_comments.html' %}
</section>

{% endblock %}
